# HCPCS-5: length of HCPCS is 5

Description: check if all HCPCS codes have a length of 5.

Starting Author: Amy Jin (amy@careset.com)

Date: May 2nd, 2018

https://docs.google.com/spreadsheets/d/1IYg01IpssJaWHo6KxO4_dSDgXtYNFy41S5cIHFLvlGQ/edit#gid=604789549

## Connection to Parenthood Server

In [1]:
# Packages import
import os
import sys
import numpy as np
import pandas as pd
from collections import Counter
import operator
import mysql.connector
import sshtunnel
import pureyaml

# Handle path
project_dir = !pwd  # dir of current script/notebook file
config_file = open(project_dir[0] + "/db.yaml");
config = pureyaml.load(config_file.read());

# Argument dictionary for sshtunnel
ssh_config = {
    'ssh_address_or_host': ('parenthood.set.care', 22),
    'ssh_username':        config['ssh_username'],
    'ssh_password':        config['ssh_password'],
    'remote_bind_address': ('127.0.0.1', 3306),
    'local_bind_address':  ('0.0.0.0', 3333),
}

# Argument dictionary for mysql.connector
mysql_config = {
    'user':     config['mysql_user'],
    'password': config['mysql_passwd'],
    'host':     config['mysql_host'],
    'database': 'patch',
    'port':     3333,
}

# Connect to Parenthood server
with sshtunnel.SSHTunnelForwarder(**ssh_config) as tunnel:
    print('SSH tunneling successful on port: {}'.format(tunnel.local_bind_port))
    connection = mysql.connector.connect(**mysql_config)
    cur = connection.cursor()
    print('MySQL server connected successfully!')

SSH tunneling successful on port: 3333
MySQL server connected successfully!

## Test Function

In [2]:
# --------------------------------------- Inputs: ---------------------------------------
# 1) db_name:                database name in server
# 2ï¼‰table_name:             table name
# 3) col_name:               column to test
# --------------------------------------- Outputs: --------------------------------------
# 1) Test result:            PASS/FAIL
# 2) If FAIL, the test will print out all failed HCPCS codes.


def hcpcs_5(db_name, table_name, col_name):
    
    with sshtunnel.SSHTunnelForwarder(**ssh_config) as tunnel:
        connection = mysql.connector.connect(**mysql_config)
        cur = connection.cursor()
        print ('Test file: {}.{}'.format(db_name, table_name))
        print ('\n')
        
        query = ('''
            SELECT *
            FROM {db}.{t1}
            WHERE LENGTH({col1}) <> 5
            LIMIT 1;
        '''.format(db = db_name, t1 = table_name, col1 = col_name))

        cur.execute(query)
        rows = list(sum(cur.fetchall(), ()))

        
        if not len(rows):
            print ("Test result: PASS")
        else:
            print ("Test result: FAIL" + '\n')
            print ("The following {} fail the test:".format(col_name) + '\n')
            
            # MySQL query to get all failed HCPCS codes
            query = ('''
                SELECT DISTINCT {col1}
                FROM {db}.{t1}
                WHERE LENGTH({col1}) <> 5;
            '''.format(db = db_name, t1 = table_name, col1 = col_name))

            cur.execute(query)
            
            for row in cur.fetchall():
                for i in range(0,len(row)):
                    print (str(row[i]), end=", ")
                print ('\n')
            
        cur.close()
        connection.close()

## Test Example

In [3]:
hcpcs_5('hcpcs_global_carrier', 'hcpcs_global_carrier_16_17_6','hcpcs_cd')

Test file: hcpcs_global_carrier.hcpcs_global_carrier_16_17_6


Test result: PASS

In [4]:
hcpcs_5('_amy', 'test_data_good','hcpcs_cd')

Test file: _amy.test_data_good


Test result: FAIL

The following hcpcs_cd fail the test:

7003,

0,

1,

2,

4,

6,

7,

20,

42,

78,

91,

100,

102,

103,

104,

120,

124,

126,

140,

142,

144,

145,

147,

148,

150,

160,

162,

164,

170,

172,

174,

176,

180,

190,

192,

199,

210,

211,

212,

213,

214,

215,

216,

218,

220,

222,

230,

258,

283,

300,

320,

322,

326,

330,

350,

352,

366,

400,

402,

404,

406,

410,

450,

454,

470,

472,

474,

478,

500,

508,

520,

522,

524,

528,

529,

530,

532,

534,

537,

539,

540,

541,

542,

546,

548,

550,

560,

561,

562,

563,

566,

567,

580,

599,

600,

604,

620,

625,

626,

630,

632,

635,

640,

670,

700,

702,

730,

740,

750,

752,

754,

756,

770,

790,

792,

794,

796,

797,

800,

802,

810,

820,

830,

832,

834,

836,

840,

842,

844,

846,

848,

851,

860,

862,

864,

865,

866,

868,

870,

872,

873,

880,

882,

899,

902,

904,

906,

908,

910,

912,

914,

916,

918,

920,

921,

922,

924,

926,

928,

930,

932,

934,

935,

936,

938,

940,

942,

944,

948,

950,

952,

972,

980,

1001,

1011,

1112,

1120,

1130,

1137,

1140,

1150,

1160,

1161,

1170,

1173,

1180,

1190,

1200,

1202,

1210,

1212,

1214,

1215,

1220,

1230,

1232,

1234,

1250,

1260,

1270,

1272,

1274,

1320,

1340,

1360,

1380,

1382,

1390,

1392,

1400,

1402,

1404,

1420,

1430,

1432,

1440,

1442,

1444,

1462,

1464,

1470,

1472,

1474,

1480,

1482,

1484,

1486,

1490,

1500,

1502,

1520,

1522,

1610,

1620,

1622,

1630,

1634,

1636,

1638,

1650,

1652,

1654,

1656,

1670,

1680,

1682,

1710,

1712,

1714,

1716,

1730,

1732,

1740,

1742,

1744,

1756,

1758,

1760,

1770,

1772,

1780,

1782,

1810,

1820,

1829,

1830,

1832,

1840,

1842,

1844,

1850,

1852,

1860,

1906,

1916,

1920,

1922,

1924,

1925,

1926,

1930,

1931,

1932,

1933,

1935,

1936,

1951,

1952,

1953,

1958,

1960,

1961,

1962,

1963,

1965,

1966,

1967,

1968,

1969,

1990,

1991,

1992,

1996,

1999,

2037,

2039,

2200,

2611,

2659,

2740,

2954,

3000,

3320,

3927,

4241,

4260,

4263,

4265,

4341,

4387,

5181,

5526,

5527,

6081,

6551,

6640,

6840,

6841,

7012,

7140,

7210,

7285,

7286,

7321,

7431,

7953,

7955,

8539,

8540,

8730,

8942,

9040,

9041,

9100,

9167,

9215,

9243,

9310,

9785,

9791,

9837,

9967,

In [4]:
hcpcs_5('_amy', 'test_data2','hcpcs_cd')

Test file: _amy.test_data2


Test result: FAIL

The following HCPCS(s) fail the test:

F0,

,

7321,

8540,

4387,

9243,

3320,

9040,

7285,

7012,

4341,

4241,

9167,

9215,

7140,

6640,

9310,

8730,

3927,

7286,

6840,

9837,

7431,

7955,